<div id="items-show">
  <h2>Spinner</h2>
  <div class="items-show-left">
    <%= image_tag('imgs/img1.jpg') %>
  </div>
  <div class="items-show-right">
    <h3>Item info</h3>
    <ul>

    </ul>
  </div>
</div>
